*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    width: 100%;
    padding: 23px 13%;
    transition: all .38s ease;

}

.sticky{
    background-color: white;
    box-shadow: 0px 4px 15px rgb(0 0 0 /8%);
    height: 75px;
}

body{
    background-color: #efefef;
    width: 100%;
}

.logo{
    text-decoration: none;
    font-size: 23px;
    color: #15aca4;
    margin-left: 5px;
}

.icon{
    display: flex;
    align-items: center;
}

.icon i{
    margin-right: 10px;
    margin-left: 8px;
    font-size: 22px;
    margin-bottom: 1.5rem;
}



nav ul li{
    display: inline-block;
    padding: 0 1.2rem;
}

nav ul li a{
    text-decoration: none;
    color: #15aca4;
    font-size: 17px;
    font-weight: 700;
}

.menu-icon{
    font-size: 32px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/* section{
    padding: 60px 12% 80px;
} */

.show{
    width: 90%;
    margin: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 4rem;
    padding-top: 3rem;
}

.containert{
    width: 80%;
    margin: auto;
}

.show-text h1{
    font-size: 4rem;
    margin-bottom: 1.2rem;
}

.show-text p{
    margin-bottom: 1rem;
}

/* .show-img{
    overflow: hidden;
} */

.show img{
    /* width: 180%; */
    width: 130%;
    height: auto;
}

.btn-show{
    margin-top: 1rem;
    color: black;
    background-color: #15aca4;
    padding: 6px 20px;
    font-size: 1.2rem;
    border-color: #19837e;
    border-radius: 12px;
    border: none;text-decoration: none;
}
span{
    color: #15aca4;
}

.btn-show:hover{
    background-color: hsla(177, 43%, 43%, 0.959);
}

@media (max-width: 800px) {
    .show{
        width: 62%;
        margin: auto;
    }
    .header{
        margin-bottom: 2rem;
    }

    .logo{
        white-space: nowrap;
        
    }
    .icons{
        display: flex;
    }
    .show{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 1rem;
        align-items: center;
        text-align: center;
    }
    .show-text h1{
        margin-top: 3rem;
    }
    
    .menu-icon{
        display: block;
        
    }
    .menu-icon i{
        font-size: 32px;
    }
    .navbar{
        position: absolute;
        top: 0%;
        right: -100%;
        height: 130vh;
        width: 240px;
        background-color: #1cb8b0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 150px 40px;
        transition: all .38s ease;
    }
    .navbar a{
        display: block;
        margin: 1.3rem 0;
        color: white;
    }
    .navbar.open{
        right: 0;
    }
    .show{
        margin-bottom: 15rem;
    }
    .title-box h1{
        text-align: center;
        margin-top: 2rem;
        font-size: 32px;
        color: #15aca4;
    }
    .sticky{
        background-color: white;
        height: 70px;
        box-shadow: 0px 4px 15px rgb(0 0 0 /8%);
    }
}

@media (max-width: 900px) {
    .show-text h1{
        font-size: 3.8rem;
    }
}
/*  end headerka*/

.jobweoffer {
    padding-top: 5px;
}

.jobs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

}

.col-3 {
    padding: 20px;
    padding-bottom: 0.25rem;
    text-align: center;
    border-radius: 10px;
}

.col-3:hover {
    box-shadow: rgb(22, 190, 182);
}

.col-3 h3 {
    color: #15aca4;
    font-weight: 800;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    white-space: nowrap;
}

.col-3 p {
    font-size: 18px;
    color: black;

}


@media (max-width: 700px) {
    .jobs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .col-3{
        margin-top: 3rem;
    }
}

@media (max-width: 900px) {
    .col-3{
        padding: 10px;
        text-align: center;
    }
}

/*our work wa halahas*/


/*features*/

.features {
    color: black;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.col-feature {
    margin: 0 2rem;
}

.col-feature h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.45rem;
}

.col-feature h3{
    color: #4b4848;
}

.col-feature img{
    display: block;
    border-radius: 8px ;
    margin-top: 2rem;
}

.col-feature p {
    line-height: 1.5;
}

.col-feature h3{
    margin-bottom: 1rem;
}

.col-feature p{
    line-height: 1.4;
    font-size: medium;
    font-size: 2rem;
    text-align: center;
    align-items: center;
}


@media (max-width: 1010px){
    .jobs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
    }
    .col-feature img{
        margin:  0 auto;
        width: 100%;
    }
}

/*dearector*/

.director{
    background-color: #15aca4;
    margin-bottom: 2rem;
    padding: 20px;
}

.director h1{
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: white;

}

.director-col{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #efef;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
}

.director-info{
    margin-right: 3rem;
    margin-left: 1rem;
    white-space: nowrap;
}

.director-info p{
    font-size: 17px;
    margin: 0.25rem;
}

.director-info h2{
    font-size: medium;
}

.director-info span{
    color: #15aca4;
}

.director-info img{
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.director-talk h2{
    margin-bottom: 1rem;
    font-size: 30;
    color: #15aca4;
}

.direct:hover{
    text-decoration: none;
}

.director-talk p{
    line-height: 1.2;
    margin-bottom: 1rem;
}


@media (max-width: 700px) {
    .director-col{
        text-align: center;
        flex-wrap: wrap;
    }
    .director-info{
        margin:  0 auto;
    }
}

/*testimonial*/

.testimonials h5{
    color: #15aca4;
    text-align: center;
    font-size: 22px;
}

.testimonials h1{
    text-align: center;
    font-size: 35px;
    font-weight: lighter;
    margin-bottom: 2rem;
}


.test-col{
    background-color: white;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 35px;
    padding-left: 15px;
    padding-right: 15px;
    
}

.test-col:hover{
    box-shadow: 0 0 1px 0;
    transition: .3s;
}

.test-col p{
    padding-top: 0;
}

.test-row{
    display: flex;
}

.test-img{
    margin-top: 3rem;
    display: flex;
}

.test-img img{
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 4rem;
}

.test-info{
    margin-top: 2rem;
    display: block;
}

.test-col:hover{
    box-shadow: 0 0 5px 5px rgb(0% 0 0 0 5px);
    transform: scale(1.01);
}

/*questions*/

.questions{
    padding-top: 1rem;
}

.title h1{
    text-align: center;
    margin-bottom: 2rem;
    color: #15aca4;
    font-size: 45px;
}

.question{
    background-color: white;
    padding: 22px;
    position: relative;
}

.title-box svg{
    font-size: small;
}

.question-btn{
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    color: #15aca4;
    
}

.plus-icon i{
    font-size: 28px;
}

.minus-icon{
    display: none;
}

.question-text{
    border-top: 1px solid lightgrey;
    margin-top: 0.40rem;
}
.question-text p{
    margin-top: 0.40rem;
}

.question-text{
    display: none;
}

.show-text .question-text{
    display: block;
}

.show-text .minus-icon{
    display: inline;
    font-size: 24px ;
}

.show-text .plus-icon{
    display: none;
}

/*footer*/

.footer{
    background-color: black;
    margin-top: 1rem;
}

.grid-footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    padding: 20px;
}

.footer-col h1{
    color: white;
    font-size: 32px;
    margin-bottom: 1.23rem;
}

.footer-col p{
    color: lightgray;
    font-size: 18px;
    
}

.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.contact-col p{
    font-size: 20px;
    font-weight: 700;
}

#date{
    color: white;
    font-size: 1.4rem;
}

.policy{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.2rem;
}

.policyone a{
    color: white;
    text-decoration: none;
    margin: 0.20rem;
    font-size: 1.2rem;
}


@media (max-width: 700px) {
    .grid-footer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: center;
    }
    .contact-col{
        margin-bottom: 1rem;
        text-align: center;
        align-items: center;
        margin: auto;
    }
    .icons{
        margin-top: 2rem;
    }
    
}

/*details page*/

.container {
    max-width: 100%;
    margin: auto;
    margin-bottom: 2rem;
}

.title-box {
    text-align: center;
    margin-top: 5em;
    color: #1d5856;
}

.title-box h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #15aca4;
}

.categories {
    width: 100%;
    padding: 1px;
    margin-top: 2rem;
    
    margin-bottom: 0.25rem;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3rem;
}

.cate-col {
    flex-basis: 36%;
}

.cate-col{
    margin-left: 2rem;
}


.row h1 {
    color: #15aca4;
    font-size:3.4rem;
    font-weight: 700;
    margin-bottom: 1rem;

}

.row p {
    color: #222;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.3;
}

.btn {
    background-color: inherit;
    margin-top: 1rem;
    border: 1px solid white;
    padding: 8px 15px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    border-radius: 10px;
}

.btn:hover {
    background-color: rgb(139, 182, 180);
    background-color: #96723e;
}

.btn:hover {
    border: none;
}


.jobs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.jobwedo {
    background-color: #154947;
    padding: 4px 20px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.jobwedo h3 {
    text-align: center;
    color: #1cb8b0;
    font-size: 2rem;
    margin-bottom: 1rem;
    white-space: nowrap;
}

.jobwedo i{
    font-size: 2rem;
    color: lightseagreen;
    text-align: center;
    padding-top: 0.20rem
}

.jobwedo p {
    text-align: center;
    color: white;
    
}

.projects-offer p{
    text-align: left;
    margin: auto;
    margin-top: 1rem;
    font-size: larger;
}


@media (max-width: 700px) {
    .cate-col {
        flex-basis: 100%;
    }
    .btn {
        margin-bottom: 1rem;
    }

    .jobwedo p {
        text-align: center;
        align-items: center;
        line-height: 1.2em;
    }
    .jobwedo h3 {
        text-align: center;
    }

    .jobs {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1010px) {
    .cate-col{
        flex-basis: 100%;
    }
    .jobs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 1rem;
    }
}

/*halaha kore waa categories*/

/*isagyaal*/

.isagyal{
    margin-top: 1rem;
    color: black;
    background-color: white;
    margin-bottom: 2rem;
}

.isagyal-haye{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    /* padding: 50px; */
}

.isagyal-sawir img{
    background-color: none;
}

.isagyal-text{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    
    margin-top: 1rem;
}

.isagyal-text h1{
    margin-bottom: 1rem;
    font-weight: bold;
    color: black;
    font-size: 2.2rem;
}

.isagyal-text p{
    font-size: 18px;
    margin-bottom: 2rem;
}

.isagyal-text span{
    background-color: #15aca4;
    color: white;
    padding: 4px;
    border-radius: 20px;
    margin-right: 5px;
}


@media (max-width:700px) {
    .isagyal-haye{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        padding: 5px;
    }
    .isagyal-sawir img{
        flex-wrap: wrap;
        margin: auto 0;
    }
    .isagyal-sawir img{
        width: 100%;
        margin: 0 auto;
        border-radius: 10px;
    }
    .isagyal-text{
        text-align: center;
    }
    .isagyal-text h1{
        font-size: 1.5rem;
    }
}

@media (max-width: 1010px){
    .isagyal-haye{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        padding: 5px;
        text-align: center;
    }
    .isagyal-sawir img{
        width: 100%;
        margin: 0 auto;
        border-radius: 10px;
    }
}
@media (min-width: 1500px){
    .isagyal-haye{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        padding: 5px;
        text-align: center;
    }
}

/*sawir*/

.sawir{
    padding-top: 20px;
    margin-bottom: 2rem;
    background-color: #efefef;
    
}

.sawirwayn{
    width: 80%;
    margin: auto;
}

.sawir-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #f1ecec;
    gap: 2rem;
    position: relative;
}

.sawir-text{
    position: absolute;
    top: 20%;
    right: -20%;
    /* width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #efefef;
    position: relative; */
}
.sawir-text h2{
    margin-bottom: 1.5rem;
    font-size: 2.7rem;
}

.sawir-text h4{
    color: #ad792a;
}

.sawir-img img{
    width: 100%;
    height: auto;
    background-color: none;
}




@media (max-width:700px) {
    .sawir-text{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        text-align: center;
    }
    .sawir-img{
        margin-top: 15rem;
    }
    .sawir-img img{
        width: 250%;
    }
    .sawir-text{
        margin-bottom: 2rem;
        text-align: center;
        align-items: center;
    }
    .sawir-text h2{
        font-size: 3rem;
    }
}
/* about us */
.sec {
    color: white;
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.title h1{
    text-align: center;
    margin-bottom: 1.4rem;
    color: #a06610;
}

.title h1::after{
    text-align: center;
    content: "";
    display: block;
    margin: auto;
    transition: .3s;
    height: 4px;
    width: 10%;
    background-color: rgb(17, 16, 16);
}

.title h1{
    font-size: 3rem;
    color: #15aca4;
}

.title p {
    text-align: center;
    margin-top: 0.30rem;
    color: lightgray;
}

.center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.content {
    color: black;
    display: none;
    padding-left: 10px;
    padding-bottom: 1rem;
    padding-right: 10px;
}

.content p{
    line-height: 1.3;
    font-size: 1.2rem;
    font-weight: 500;
    color: #110c0c;
}

.content ul li{
    list-style-type: none;
}

.about {
    background-color: #efefef;
    border-radius: 12px;
}

.content h4 {
    margin-bottom: 1rem;
    font-size: 2rem;
    padding-top: 0;
}

.content p {
    margin-bottom: 1rem;
    line-height: 1.2;
}

.imgabout img {
    width: 100%;
}

.btn-container {
    display: flex;
    color: black;
    margin-bottom: 1rem;
}

.tab-btn {
    background-color: lightgrey;
    padding: 5px 15px;
    border: none;
    font-size: 25px;
}

.tab-btn.active {
    background-color: white;
}

.active {
    display: block;
}


@media (max-width: 700px) {
    .center {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        align-items: center;
    }

    .img img {
        width: 100%;
        margin: 0 auto;
        border-radius: 12px;
    }
    .title{
        color: white;
    }
}

@media (max-width: 1010px) {
    .center {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* about end */


/*contact*/


.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-title{
    text-align: center;
    margin-top: 3rem;
}

.contact-title h1{
    color: #15aca4;
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.contact-title p{
    color: rgb(128, 122, 122);
    font-weight: 600;
}

.contact-haye{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10rem;
}


.address-haye{
    text-align: center;
}

.address{
    margin-bottom: 1.2rem;
    background-color: #1d5856;
    border-radius: 12px;
    padding: 20px;
    color: white;
}

.address h2{
    font-size: 1.7rem;
    margin-bottom: 0.20rem;
}

.address p{
    margin-bottom: .30rem;
}

.address span{
    color: #2ce4d7;
}

.contact-input{
    margin-top: 1rem;
}

.contact-input input{
    margin-bottom: 1rem;
    width: 150%;
    padding: 12px;
    font-size: 17px;
    font-weight: 500;
    outline: none;
    border-radius: 10px;
    border-color: #41d4cd;
}

.contact-input textarea{
    width: 150%;
    padding: 5px;
    font-size: 17px;
    outline: none;
    border-radius: 10px;
    border-color: #41d4cd;
}

.submit{
    padding: 15px;
    margin-top: 0.20rem;
    border-radius: 12px;
    border: none;
    background-color: #66d8d2;
    font-weight: 700;
}

input:focus{
    border:#41d4cd;
    border-color: #1cb8b0;
    box-sizing: border-box;
}

@media (max-width: 700px) {
    .contact-haye{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
    }
    .contact-input{
        width: 80%;
        margin:  auto 0;
    }
}

@media (max-width: 1200px) {
    .contact-haye{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 0;
    }
    .address-haye{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 0;
    }
    .contact-input{
        width: 80%;
        
    }
    .address{
        padding: 30px;
    }
    .address h2{
        margin-bottom: 0.40rem;
    }
}

.icons i{
    font-size: 1.7rem;
    color: white;
    margin: 10px;
}

.address i{
    font-size: 1.5rem;
    color: white;
}


.bi-instagram{
    color: rgb(141, 53, 53);
}

/*service page*/

.business {
    color: white;
    padding-top: 2rem;
}

.busi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}


.buss-col h1 {
    margin-bottom: 1rem;
    font-size: 45px;
    font-weight: 800;
}

.buss-row h3 {
    margin-bottom: 0.30rem;
    font-size: 26px;
}

.buss-row p {
    margin-bottom: 1rem;

}

.buss-row i {
    color: #d38c22;
    margin-right: 1rem;
    font-size: 22px;
}

@media (max-width: 1200px) {
    .contact-title{
        margin-top: 2rem;
    }
    .busi{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
/*service page*/

.services{
    padding-top: 20px;
}

.service{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0;
}

.service h1{
    margin-top: 1rem;
}

.service-col h2 p{
    margin-top: 2rem;
}

.service-col p{
    line-height: 1.3;
    font-size: 20px;
    font-weight: 500;
}

.service-col{
    margin-bottom: 10rem;
}
.service-col:last-child{
    margin-bottom: 0;
}

.service-col h2{ 
    margin-bottom: 1rem ;
    font-size: 3rem;
    border-top: 4px solid #19837e;
    width: 30%;
    white-space: nowrap;
    color: #1d5856;
}

.service-col p:nth-child(2){
    margin-right: 4rem;
}


@media (max-width: 700px) {
    .service{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .contact-title h1{
        margin-top: 5rem;
    }
}

/*services*/


.teams {
    color: white;
    padding-top: 20px;
    margin-bottom: 1rem;
}

.teams h1 {
    text-align: center;
    font-size: 3.5rem;
    color: #19837e;
}

.team-col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}


.team-member{
    display: flex;
    justify-content: center;
    border: 1px solid transparent;
    padding: 32px;
}

.team-member h3{
    color: black;
    white-space: nowrap;
    margin-left: 0.30rem;
    margin-top: 1rem;
}

.team-member span {
    color: #19837e;
}

.team-member img {
    width: 45%;
    aspect-ratio: 3/3;
    border-radius: 50%;
}

.team-member:hover{
    border: 1px solid #1d6360;
    border-radius: 8px;
    transition: .3s;
    box-shadow: 0 0 3px 5px;
}

@media (max-width: 700px) {
    .team-col {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .team-member{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
    }
}

@media (max-width: 1200px) {
    .team-col{
       display: grid;
       grid-template-columns: repeat(2,1fr); 
        
    }
}
















